body{
	background-color: #f9e4b4;
}

hr{
	border-top:1px solid darkseagreen;
}

h1{
	background-color : #F67280;
	font-family: Arial;
	margin:10px;
	font-size:50px;
}

h2{
	background-color: #C06C84;
	font-size: 30px;
}

img{
	margin:15px;
}

p{
	margin:15px;

}


a:link, a:visited{
	color:black;
}

a:hover{
	color:#6C5B7B;
}

table{
	margin:10px;
	border-color:#c06c84;
}

.center{
	display: block;
	margin-left:auto;
	margin-right:auto;
}